---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import CertIcon from "@/components/icons/Cert.astro"
import DeviceIcon from "@/components/icons/Device.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Certificates from "@/components/Certificates.jsx"
import Techs from "@/components/Techs.astro"
---

<Layout
  title="Luis Romero | Portfolio - Desarrollador y Programador Full-Stack con +3 años de experiencia"
  description="Contrata a Luis Romero para crear tu aplicación. Desarrollador Full-Stack"
  showFooter={true}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero/>
    </SectionContainer>
    <div class="space-y-24">
    <!-- <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer> -->

    <SectionContainer id="tecnologias">
      <TitleSection>
        <DeviceIcon class="size-8" />
        Tecnologías que manejo
      </TitleSection>
      <Techs />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos destacados
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="certificados">
      <TitleSection>
        <CertIcon class="size-8" />
        Certificados
      </TitleSection>
      <Certificates client:load/>
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>

  </main>
</Layout>
