---
import Git from "./icons/techIcons/Git.astro"
import GitHubFull from "./icons/GitHub-full.astro"
import Netlify from "./icons/techIcons/Netlify.astro"
import Html from "./icons/techIcons/Html.astro"
import Css from "./icons/techIcons/Css.astro"
import Javascript from "./icons/techIcons/Javascript.astro"
import Typescript from "./icons/techIcons/Typescript.astro"
import Jquery from "./icons/techIcons/Jquery.astro"
import Php from "./icons/techIcons/Php.astro"
import Mysql from "./icons/techIcons/Mysql.astro"
import Sqlite from "./icons/techIcons/Sqlite.astro"
import Firebase from "./icons/techIcons/Firebase.astro"
import Mongodb from "./icons/techIcons/Mongodb.astro"
import Python from "./icons/techIcons/Python.astro"
import Nodejs from "./icons/techIcons/Nodejs.astro"
import Expressjs from "./icons/techIcons/Expressjs.astro"
import React from "./icons/techIcons/React.astro"
import Angular from "./icons/techIcons/Angular.astro"
import AstroIcon from "./icons/techIcons/AstroIcon.astro"
import Tailwind from "./icons/techIcons/Tailwind.astro"
import Jwt from "./icons/techIcons/Jwt.astro"

const techs=[
    {
        name:"Git",
        icon: Git
    },
    {
        name:"GitHub",
        icon: GitHubFull
    },
    {
        name:"Netlify",
        icon: Netlify
    },
    {
        name:"HTML",
        icon: Html
    },
    {
        name:"CSS",
        icon: Css
    },
    {
        name:"JavaScript",
        icon: Javascript
    },
    {
        name:"TypeScript",
        icon: Typescript
    },
    {
        name:"jQuery",
        icon: Jquery
    },
    {
        name:"JWT",
        icon: Jwt
    },
    {
        name:"PHP",
        icon: Php
    },
    {
        name:"MySQL",
        icon: Mysql
    },
    {
        name:"SQLite",
        icon: Sqlite
    },
    {
        name:"Firebase",
        icon: Firebase
    },
    {
        name:"MongoDB",
        icon: Mongodb
    },
    {
        name:"Python",
        icon: Python
    },
    {
        name:"Node.js",
        icon: Nodejs
    },
    {
        name:"Express.js",
        icon: Expressjs
    },
    {
        name:"React",
        icon: React
    },
    {
        name:"Angular",
        icon: Angular
    },
    {
        name:"Astro",
        icon: AstroIcon
    },
    {
        name:"Tailwind CSS",
        icon: Tailwind
    },
]

---

<ul class="w-full flex flex-wrap justify-center gap-8">
    
    {techs.map((tech)=>(
            <li class="flex justify-center  items-center flex-col gap-1 rounded-xl p-4 pb-2 pt-3 bg-black/5 dark:bg-white/5 dark:hover:bg-white/15 hover:bg-black/10 transition shadow-md dark:shadow dark:shadow-white select-none">
                <tech.icon class="size-16"/>
                <h3 class="text-lg">{tech.name}</h3>
            </li>
        ))}
</ul>